}
<style>
    .tnx {
        background-size: auto;
        background-repeat: no-repeat;
        min-width: 100%;
        position: absolute;
        left: -100%;
        right: -100%;
        margin: auto;
        top: 10%;
    }

    #fr {
        position: absolute;
        top: 15%;
        color: white;
        left: 51%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: xx-large;
    }

    #se {
        position: absolute;
        top: 38%;
        color: white;
        left: 61%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: xx-large;
    }
   #dc {
        position:absolute;
        left: 68%;
    }

    #th {
        position: absolute;
        top: 40%;
        color: white;
        left: 43%;
        font-family: Arial, Helvetica, sans-serif;
    }

    .btn-success {
        top: 70%;
        font-family: 'Times New Roman', Times, serif;
        position: absolute;
        left: 40%;
    }
    body{
        background-color:#46344E;
        height: 700px;
        margin-top: -20px;
    }
</style>
<body>
    

<div class="container">
    <img src="/assets/tgf.jpeg" style="padding-top: 20px;" height="450" width="500" />
    <div class="text-center">
        <h6  id="fr"class="display-1">Thank You For Using our Application</h6>
        <h6 id="se" class="display-1">Have a Good Day</h6>
    </div>
</div>
</body>